<div class="col-xs-3">
	<% if flash[:create] %>
		<div class="flash">
			<%= flash[:create] %>
		</div>
	<% end %>
	<% if flash[:update] %>
		<div class="flash">
			<%= flash[:update] %>
		</div>
	<% end %>

	<span class="title info-title">
		<h1>User info</h1>
	</span>
	<%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th colspan="2"></th>
			</tr>
		</thead>
				
		<tbody>
			<tr>
				<td>name</td>
				<td><%= user.name %></td>
			</tr>
			<tr>
				<td>introduction</td>
				<td><%= user.introduction %></td>
			</tr>
		</tbody>
	</table>

	<div class="edit-button button d-block">
		<% if user == current_user %>
			<%= link_to edit_user_path(user.id) do %>
				<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			<% end %>
		<% else %>
			<%= link_to user_path(current_user.id) do %>
				<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			<% end %>
		<% end %>	
	</div>
			
	<span class="title form-title">
		<h1>New book</h1>
	</span>
	<%= form_for(book) do |f| %>

		<div class="block">
			<%= f.label :Title %>
			<%= f.text_field :title %>
		</div>
		<div class="block">
			<%= f.label :Opinion %>
			<%= f.text_area :body %>
		</div>
			<%= f.submit 'Create Book' %>
	<% end %>
</div>